{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
<script src="https://gist.github.com/hatdropper1977/a8d9cddb02b0eb6bc074.js"></script>

{% block content %}


<div class="container">

  
<div   style="color: green;" >  
  <div class=" row" >yy</div>
          
      
      <div class="col-md-8" >
          <h2 class="text-center">Create Your Blog Here!</h2>
          {{wtf.quick_form(blog_forms)}} 
          {{simplemde.load}}
      </div>
     
  
</div>

</div>



{% endblock %}





