{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
<script src="https://gist.github.com/hatdropper1977/a8d9cddb02b0eb6bc074.js"></script>

{% block content %}



  <div class="container">
  <h2>Start your blog</h2>
  <p style="color: blue; font-size: 50px; background: black ; opacity: 0.5;">If you don't the world wont know your thoughts!!.</p>
<hr>
<div style="background-color: antiquewhite; font-size: 20px;">
    {{ wtf.quick_form(blog_forms) }}
</div>
<hr>

</div>




{% endblock %}





