{% extends 'base.html'%}

{% import 'macros.html' as macro%}


{% block content %}

<p>
    {{macro.displayRandomList(quote)}}
    
</p>

<a href="/blogs">Write a new blog</a><br>



<form class="form-inline ml-2" action="{{url_for('main.index')}}" method="POST">
    <div class="md-form form-group">
        <label class="white-color">Email Address...</label>
        <input type="email"  class="form-control " name ="subscriber" required>
    </div>
    <div class="md-form form-group">
        <button class="btn btn-sm btn-outline-info" id="subs">Subscribe</button>
    </div>
</form>

{% for comment in comment %}

<p class="mt-10"><span style="font-weight: bold">{{comment.user.username}} : </span> {{comment.comment}}</p>

{% endfor %}




{% for blogs in blogs %}


<a href="/blog/comment">comment</a><br>


{{blogs.title}} <br>

{{blogs.blogs}} <br>
{{blogs.date_posted.strftime('%Y/%m/%d @ %r')}} <br> 




{% endfor %}















{% endblock %}