{% macro displayRandomList(quote) %}



{{quote.quote}}



{% endmacro %}



{% macro displayBlogsList(blogs) %}
{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}
{% for blogs in blogs%}





<a href="/blog/comment">comment</a>

{{blogs.date_posted.strftime('%Y/%m/%d @ %r')}} <br> 
{{blogs.title}} <br>

{% endfor %}
{% endmacro %}



















